/* 
	The below CSS file is included in the JS library via base64.
	If you want to include it into the page yourself, you may disable the 
	base64-css by passing the { includeCSS: false } option into the constructor.
*/

.ambient__container {
	position: relative;
}

.ambient__visible {
	display: block;
	position: relative;
	z-index: 10;
	width: 100%;
}

.ambient__shadow {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	left: 0;
	top: 0;

	-webkit-filter: blur(45px);
	   -moz-filter: blur(45px);
		-ms-filter: blur(45px);
			filter: blur(45px);
}